* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 400px;
  width: 100%;
  height: calc(100vh - 40px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border: 1px solid black;
}
@media (max-width: 400px) {
  .container {
    max-width: none;
    border: none;
    height: 100vh;
  }
}
.heading h1 {
  font-size: 29px;
  text-align: center;
}
.input1 {
  display: flex;
}
.input1 .todotaker {
  padding: 0.7em;
  border: 1px solid red;
  border-right-color: blue;
  font-size: 17px;
  width: 100%;
}
.todotaker:focus {
  outline: none;
  border: 1px solid red;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.2s linear all;
}
.input1 .push {
  background: red;
  border: 1px solid yellow;
  width: 60px;
}
.tasks {
  flex-grow: 1;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 45px;
  background-color: yellow;
}
.task {
  flex-shrink: 0;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: green;
  cursor: pointer;
}
.task span {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.task button {
  background-color: #ffcb74;
  color: #ffffff;
  height: 100%;
  width: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
}

